
//
// VARIABLES
//

// Colors
$blue: #404845;

// Grays
$black: #000;
$darkerGray: #272725;
$darkGray: #303835;
$gray: #666;
$lightGray: #eee;
$white: #7A8A91;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
