
//
// VARIABLES
//

// Colors
$blue: #303835;

// Grays
$black: #000;
$darkerGray: #171715;
$darkGray: #202825;
$gray: #aaa;
$lightGray: #ccc;
$white: #6A7A81;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
